
*{
  margin: 0;
  padding: 0;
}

.app{
  display: flex;
  justify-content: center;  
  font-size:24px
}
.TitleSection{
  background-color: #6ea4bb;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #e7e7e6;
  
}
.TitleSection img{
  width: 300px;
  padding:0px;
  margin: 0px;
   

}
.TitleSection input{
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #5e98b1;
  font-size: 18px;
  padding-left: 10px;
  background-color: #006cbf;
  outline: none;
  
}

.TitleSection button{
  width: 180px;
  height: 40px;
  margin:20px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
  border: none;
  color:#e7e7e6;
  background-color: #006cbf;
  transition: 0.5s;
}
.TitleSection button:hover{
  cursor:pointer;
  color:yellow;
  box-shadow: 3px 3px 10px rgb(27, 78, 221);
  transition: 0.5s;
}